if [[ ":${GAZEBO_RESOURCE_PATH}:" != *":@CMAKE_INSTALL_PREFIX@/@CATKIN_PACKAGE_SHARE_DESTINATION@:"* ]]; then
	export GAZEBO_RESOURCE_PATH="@CMAKE_INSTALL_PREFIX@/@CATKIN_PACKAGE_SHARE_DESTINATION@${GAZEBO_RESOURCE_PATH:+:${GAZEBO_RESOURCE_PATH}}"
fi
